.transaction-history {
  background: white;
  border: solid 1px #e5eaf1;
  margin: 20px;
  padding: 0;
  text-align: center;
  border-collapse: collapse;
  box-shadow: -9px 11px 13px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -9px 11px 13px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 11px 13px -7px rgba(0, 0, 0, 0.75);

  tr {
    height: 40px;
  }
  thead {
    background: #3ebbd2;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    th {
      width: 200px;
      border-right: solid 1px #e5eaf1;
    }
    th:nth-child(1) {
      text-align: start;
      padding-left: 85px;
    }
  }
  tbody {
    tr {
      td {
        border-right: solid 1px #e5eaf1;
      }
    }
    td:nth-child(1) {
      text-align: start;
      padding-left: 85px;
    }
  }
  tbody tr:nth-child(2n-1) {
    background-color: #ffffff;
  }

  tbody tr:nth-child(2n-2) {
    background-color: #ecf1f4;
  }
}
